
services:
  db:
    image: postgres:13-alpine
    env_file:
      - ./server/.env.prod
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  server:
    build: ./server
    ports:
      - "3002:3002"
    env_file:
      - ./server/.env.prod
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  db_data:
